<%# add navigation links to this file %>
<li><%= link_to t('plutus.reports.balance_sheet.title'), reports_balance_sheet_path%></li>
<li><%= link_to t('plutus.reports.income_statement.title'), reports_income_statement_path%></li>
<li><%= link_to t('plutus.accounts.index.title'), accounts_path%></li>
<li><%= link_to t('plutus.entries.index.title'), entries_path%></li>
